<%= turbo_stream_from "chatroom" %>

<h2 class="text-center font-bold text-3xl">📬 <%= @chatroom.name %></h2>

<%= render 'chatrooms/user_count', count: @chatroom.user_count %>

<div class="h-60vh w-full overflow-scroll px-4 bg-secondary py-4 rounded-lg">
  <%= turbo_frame_tag :messages do %>
      <% if @messages %>
        <% @messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      <% end %>
  <% end %>
</div>

<%= render 'messages/new_message_form', chatroom: @chatroom, message: @message %>

<%= link_to '📤 All chatrooms', chatrooms_path, class: 'hover:font-bold' %>
